/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif,Helvetica,Arial;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 21px;
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
h1,h2{
	margin: 0 0 61px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 17px;
        line-height: 1.6;
    }
}


.jumbotron {
    background-color: transparent;
    min-height: 100vh;
}

.jumbotron .container {
    /* float: right; */
    /* width: 100%; */
    /* margin-right: 15px; */
    margin-top: 3%;
    text-align: center;
    background: #ef3971;
    padding: 17px 61px;
    border-radius: 27px;
}

.jumbotron h1 {
    margin: 0 0 3px;
}

.jumbotron p{
	margin: 0;
}


a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.home {
    display: table;
    width: 100%;
    height: auto;
    padding: 39px 0;
    text-align: center;
    color: #fff;
    /*background: url(../img/IC1396_animation2.gif) no-repeat center scroll;*/
    background-color: #000;
    -webkit-background-size: cover;
    background-size: cover;
}
/*
.home .home-body {
    display: table-cell;
    vertical-align: middle;
}*/

.home .brand-heading {
    font-size: 40px;
}

.home .home-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .home {
        height: 100%;
        padding: 0;
    }

    .home .brand-heading {
        font-size: 100px;
    }

    .home .home-text {
        font-size: 25px;
    }
}

.btn-circle {
    background: #000000;
    /* width: 303px; */
    /* height: 71px; */
    margin-top: 37px;
    padding: 7px 16px;
    /* border-top: 3px solid #555; */
    /* border-bottom: 3px solid #555; */
    /* border-left: 1px solid #999; */
    /* border-right: 1px solid #999; */
    border: none;
    border-radius: 11px;
    font-size: 31px;
    color: #FFF;
    /* background: 0 0; */
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #cecece;
    background: #3f3f3f;
    border: none;
}
.content-section {
    background: #cecece;
    color: #111111;
    padding-top: 100px;
    height: auto;
    min-height: 100vh;
}

.download-section {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 101px;
    }

    .download-section {
        padding: 100px 0;
    }

}
.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #ef3971;
    /* color: #111; */
    background-color: #ef3971;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #777;
    outline: 0;
    /* color: #000; */
    /* background-color: #FF567E; */
}
.small-font{font-size: 15px !important;}

.awards {
	position: absolute;
	bottom: 21px;
	float: left;
	left: 45px;
}

li.numberList {
    width: 58px; height: 56px; 
    background: #ef3971; color: white; font-size: 44px; font-family: Titillium,Arial,sans-serif; border-radius: 5px; text-align: center; line-height: 56px; padding: 0 !important; margin: 10px 0; 
    clear: both;
    float: left;
}

ul.featuredList {
    list-style-type: none;
    padding: 0;
}

li.descList {
    /* float: left; */ 
    padding: 17px 11px 15px 71px;
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}
